/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: 'Work Sans';
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Syne';
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: 'Work Sans';
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'Syne';
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
li a {
  text-decoration: none;
  color: black;
}
li a:hover {
  color: #b1663c;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#tri {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#tri button {
  border: 1px solid #1d6154;
  color: #1d6154;
  background-color: white;
  border-radius: 60px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 51px;
  margin-top: 18px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Syne';
}
#tri button:first-child {
  padding-right: 30px;
  padding-left: 28px;
}
#tri button:nth-child(2) {
  padding-right: 22px;
  padding-left: 20px;
}
#tri button:nth-child(3) {
  padding-right: 15px;
  padding-left: 14px;
}
#tri button:nth-child(4) {
  padding-right: 11px;
  padding-left: 9px;
}

#tri button:hover {
  color: white;
  background-color: #1d6154;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type='submit'] {
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
/* modal */
.background-assombri {
  background: rgba(0, 0, 0, 0.3);
}
.modal-visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

aside {
  position: absolute;
  top: 87%;
  left: 22%;
  background-color: white;
  width: 57%;
  height: 107%;
  border-radius: 10px;
}

aside p {
  text-align: center;
  margin: 10px 217px 46px 217px;
  font-size: 26px;
  font-family: 'Work Sans';
}

.croix-quitter {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
}
.contenu-modal-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-gallery {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr 1fr;

  grid-row-gap: 25px;
  grid-column-gap: 9px;
}
#modal-gallery img {
  width: 78.123px;
  height: 104.08px;
}
#modal-gallery figure {
  position: relative;
  width: 78.123px;
  height: 104.08px;
}
#modal-gallery figure::before {
  position: absolute;
  content: url(../assets/icons/trash-can-solid.png);
  background-color: black;
  top: 5px;
  right: 5px;
  padding: 0 3px;
}
.trait-modal-1 {
  border: 1px solid #b3b3b3;
  width: 54%;
  margin-top: 67px;
}
aside button {
  background-color: #1d6154;
  color: white;
  font-size: 14px;
  border: none;
  padding: 10px 49px 9px 49px;
  border-radius: 60px;
  margin-top: 38px;
  margin-bottom: 45px;
}
#modal-2 {
  top: 0;
  width: 100%;
  left: 0;
}

#contenu-modal-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0 105px;
}
.fleche-croix-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fleche-gauche {
  display: flex;
  padding: 20px 0 0 20px;
}

.input-paragraphe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 47px;
  width: 100%;
  padding: 0 5px;
}
.input-paragraphe input,
select {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  padding: 10px;
  border: none;
}
.input-paragraphe input {
  width: 96%;
}
.input-paragraphe p {
  color: #3d3d3d;
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.input-paragraphe + p {
  margin-top: 21px;
}
.input-paragraphe select {
  width: 99%;
}
.chargement-contenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8f1f6;
  width: 100%;
}

.chargement-contenu svg {
  width: 76px;
  height: 76px;
}
.chargement-contenu button {
  font-family: 'Work Sans';
  color: #306685;
  font-size: 14px;
  font-weight: 500;
  background-color: #cbd6dc;
  padding: 10px 33px;
  margin-top: 6px;
}
.chargement-contenu p {
  font-family: 'Work Sans';
  font-size: 10px;
  color: #444;
  margin: 7px 154px 19px 154px;
}
.modal-button-2 {
  background-color: #a7a7a7;
  color: #fff;
  font-family: Syne;
  font-size: 14px;
  font-weight: 700;
}

#modal-2 .trait-modal-2 {
  border: 1px solid #b3b3b3;
  width: 100%;
}
.modal-2-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

/* ***********************************media queries tablette **************************************************/
@media (max-width: 1024px) {
  header {
    margin: 50px 30px;
  }
  #introduction {
    margin-right: 60px;
  }
  #portefolio {
    margin: 0 30px;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
/* ***********************************media queries mobile ****************************************************/
@media (max-width: 767px) {
  aside p {
    margin: 0;
    font-size: 16px;
    margin-top: 20px;
  }
  aside button {
    font-size: 13px;
    padding: 10px;
  }
  header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  #introduction {
    flex-direction: column;
  }
  #introduction article {
    padding: 0 20px;
  }
  #introduction figure {
    margin-bottom: 10px;
  }
  #tri {
    flex-direction: column;
    margin-bottom: 30px;
  }
  #tri button {
    margin: 0;
  }
  #portefolio {
    margin: 0 30px;
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  #contact {
    margin-top: 50px;
  }
}
